@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

*,
html,
body {
  box-sizing: border-box;
  font-family: "Stick", Arial, sans-serif;
  overflow-x: hidden;
  color: white;
}

body {
  width: 100%;
  height: 100vh;
}

.row {
  margin-top: -75px;
}

.container-fluid {
  background-color: #292c2f;
  width: 100%;
  height: 100vh;
}

.dots-lg-1 {
  top: 80px;
  left: -170px;
}

.fs-25 {
  font-size: 25px;
  letter-spacing: 4px;
}

.ps-lg-1 p {
  font-size: 50px;
}

.size-50 {
  font-size: 50px;
}

.size-75 {
  font-size: 75px;
}

.rotate {
  letter-spacing: 3px;
  transform: rotate(-8.85deg);
  -webkit-transform: rotate(-8.85deg);
  -moz-transform: rotate(-8.85deg);
  -ms-transform: rotate(-8.85deg);
  -o-transform: rotate(-8.85deg);
}

.flip {
  position: absolute;
  left: 43%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.left-43 {
  left: 43%;
}

.topa-50 {
  position: absolute;
  top: 50px;
}

.topa-255 {
  position: absolute;
  top: 255px;
}

.topr-50 {
  position: relative;
  top: -50px;
}

.topa-390 {
  position: absolute;
  top: 390px;
  left: 15%;
}

.you {
  position: absolute;
  top: 460px;
  left: 240px;
}

.you-txt {
  position: absolute;
  top: 480px;
  left: 240px;
}

.batu {
  left: 0;
}

.gunting {
  left: 50px;
}

.kertas {
  left: 100px;
}

.dots-lg-2 {
  right: -95px;
}

.click {
  bottom: -10px;
  left: 44%;
}

.img-you {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .bot-md-head {
    position: absolute;
    top: 340px;
  }
  .bot-md-child {
    top: 580px;
  }
  .click {
    position: relative;
    top: 800px;
  }
}

@media screen and (max-width: 768px) {
  .dots-sm-1 {
    position: relative;
    left: 300px;
  }
  .fs-sm-18 {
    font-size: 18px;
  }
  .size-75 {
    font-size: 55px;
  }
  .notif {
    position: absolute;
    width: 360px;
  }
}
